EXPO_PUBLIC_PREVIEW_API_URL=http://localhost:3000
EXPO_PUBLIC_REVOPUSH_APP_NAME_IOS=SelfPreviewIOS
EXPO_PUBLIC_REVOPUSH_APP_NAME_ANDROID=SelfPreviewAndroid
EXPO_PUBLIC_REVOPUSH_PRODUCTION_KEY=YOUR_PRODUCTION_KEY
EXPO_PUBLIC_REVOPUSH_STAGING_KEY=YOUR_STAGING_KEY
EXPO_PUBLIC_REVOPUSH_PREVIEW_FEATURE_X_KEY=YOUR_PREVIEW_FEATURE_X_KEY
EXPO_PUBLIC_REVOPUSH_PREVIEW_PAYMENTS_KEY=YOUR_PREVIEW_PAYMENTS_KEY
REVOPUSH_DEFAULT_DEPLOYMENT_KEY=YOUR_STAGING_KEY
REVOPUSH_SERVER_URL=https://api.revopush.org
